/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* element selector */
/* styles all links */
a {
    text-decoration: none;
    color: white;
}

/* styles all links on hover */
a:hover {
    cursor: pointer;
    color: #493846;
}

/* gives header background color and new font color */
header {
  padding: 30px;
  text-align: center;
  background: #b47fac;
  color: #fff;
}

/* turns navbar into a flexbox with a new background color */
nav {
    display: flex;
    justify-content: flex-end;
    background-color:#efb5e6
}

/* navlink styling */
nav a {
    padding: 14px 20px;
    text-align: center;
}

/* styles any buttons on page */
button {
    background-color: #efb5e6;
    border: 2px solid #b47fac;
    padding: 4px 15px;
    font-size: 20px;
}

/* styles all secondary headings on webpage */
h2 {
    text-align: center;
    background-color:#b47fac;
    color: white;
    width: 100%;
    padding: 20px;
    font-size: 40px;
}

  /* styles caption on image and allows it to be placed over image with positioning */
  figcaption {
    position: absolute;
    bottom: 10%;
    background-color:#efb5e6;
    padding: 30px;
    font-size: 30px;
  }

/* id selectors */
/* styles about section and gives it a background image */
#about {
    margin: 40px 20px;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    height: 500px;
    background-size:contain;
    background-position:right;
}

/* styles heading in about section */
#about h1 {
    font-size: 40px;
    margin-bottom: 20px;
    padding: 20px;
    width: 70%;
    background-color:#b47fac;
    color: white;
}

/* styles paragraph in about section */
#about p {
    font-size: 25px;
    margin-bottom: 20px;
    padding: 20px;
    width: 60%;
    background: rgba(152, 104, 140, 0.7);
    color: white;
}

/* adds flexbox styling to "My Work" section */
#work {
  display: flex;
  flex-wrap: wrap;
  margin: 2% 8%;
}

/* makes contact section flexbox */
#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2%;
  }

  /* styles the links in the "contact" section */
  #contact a {
    color: black;
    font-size: 30px;
    text-decoration: underline;
    padding: 15px;
  }

  /* gives the links in the "contact" section a hover element */
  #contact a:hover {
    color: #b47fac;
  }

/* class selectors */
/* styles each flex item in the "My Work" section */
.card {
    margin: 2%;
    text-align: center;
    border: solid 5px #efb5e6;
    position: relative;
  }

  /* makes first flex item larger than the rest */
.first {
    width: 100%
  }

  .second,
  .third,
  .fourth,
  .fifth {
    flex: 1 1 0;
  }

  /* styles the images in each card in the "My Work" section */
  .card img {
    width: 100%;
    min-width: 600px;
    opacity: 0.5;
  }

  /* changes image opacity on hover */
  .card img:hover {
    opacity: 1.0;
  }

/* media query for smaller screen sizes */
@media screen and (max-width: 768px) {
    /* switches navbar from row to column */
    nav {
        flex-direction: column;
    }
}