* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
    color: #493846;
}

header {
  padding: 30px;
  text-align: center;
  background: #b47fac;
  color: #fff;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color:#efb5e6
}

nav a {
    padding: 14px 20px;
    text-align: center;
}

button {
    background-color: #efb5e6;
    border: 2px solid #b47fac;
    padding: 4px 15px;
    font-size: 20px;
}

h2 {
    text-align: center;
    background-color:#b47fac;
    color: white;
    width: 100%;
    padding: 20px;
    font-size: 40px;
}

#about {
    margin: 40px 20px;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    height: 500px;
    background-size:contain;
    background-position:right;
}

#about h1 {
    font-size: 40px;
    margin-bottom: 20px;
    padding: 20px;
    width: 70%;
    background-color:#b47fac;
    color: white;
}

#about p {
    font-size: 25px;
    margin-bottom: 20px;
    padding: 20px;
    width: 60%;
    background: rgba(152, 104, 140, 0.7);
    color: white;
}

#work {
  display: flex;
  flex-wrap: wrap;
  margin: 2% 8%;
}

/* styles each flex item in the "My Work" section */
.card {
    margin: 2%;
    text-align: center;
    border: solid 5px #efb5e6;
    position: relative;
  }

  figcaption {
    position: absolute;
    bottom: 10%;
    background-color:#efb5e6;
    padding: 30px;
    font-size: 30px;
  }

  /* makes first flex item larger than the rest */
.first {
    width: 100%
  }

  .second,
  .third,
  .fourth,
  .fifth {
    flex: 1 1 0;
  }

  /* styles the images in each card in the "My Work" section */
  .card img {
    width: 100%;
    min-width: 600px;
    opacity: 0.5;
  }

  .card img:hover {
    opacity: 1.0;
  }

/* media query for smaller screen sizes */
@media screen and (max-width: 768px) {
    /* switches navbar from row to column */
    nav {
        flex-direction: column;
    }
}