* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
    color: #493846;
}

header {
  padding: 30px;
  text-align: center;
  background: #b47fac;
  color: #fff;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color:#efb5e6
}

nav a {
    padding: 14px 20px;
    text-align: center;
}